* {
    /* Kevin Dang kd9me - Jennifer Huynh jph5au */

    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #FFFFFF;
    margin: 0;
}
/*
.navtop {
    background-color: #3b4656;
    height: 60px;
    width: 100%;
    border: 0;
}
.navtop div {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ebedee;
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c4c8cc;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: #ebedee;
}

*/


.content {
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
}



ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 10px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: white;
}

/* calendar */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

button {
    background-color: #ccc4d8;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding: 10px;
    border: none;
    transition: all 0.3s ease 0s;
}

button:hover {
    background: #9296b7;
}

/* form */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-decoration: none;
}
  
input[type=submit] {
    background-color: #ccc4d8;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
  
input[type=submit]:hover {
    background-color: #9296b7;
}